<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SETT - Calculadora de Tarefas</title>

    {{!--Import Google Icon Font--}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!--Import materialize.css--}}
    <link href="http://archives.materializecss.com/0.100.2/css/ghpages-materialize.css" rel="stylesheet">
    {{!--Import main.css--}}
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>

<body class="grey lighten-4">
    <nav class="row indigo">
        <div class="nav-wrapper col s12">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Minhas Tarefas</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <i class="material-icons">settings</i>
                    </li>
                    <li>
                        <i class="material-icons">exit_to_app</i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}
    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {{!-- materialize --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> --}}
    {{!-- materialize --}}
    <script src="js/materialize.min.js"></script>
    {{!-- main --}}
    <script src="js/main.js"></script>
</body>

</html>